body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* .container {
    display:none
} */
.first-page {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.first-page .btn {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: lightskyblue;
  border: 2px solid lightskyblue;
  color: #455270;
}
.container {
  padding-top: 20px;
}
h3 {
  color: blanchedalmond;
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 100px;
  padding-right: 10px;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

span {
  color: beige;
}

h2 {
  color: azure;
  font-size: 24px;
  letter-spacing: 10px;
}
.computer {
  padding-top: 30px;
}
.game-result {
  padding-top: 140px;
}
#result {
  color: blanchedalmond;
}
h1 {
  font-size: 30px;
  color: white;
}
#score div {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(210, 183, 234);
}
/* Add this CSS rule to hide computer's choices by default */
#computer-choice img {
  display: none;
}
